server {
    listen 80;
{% if nginx_listen_ipv6 %}
    listen [::]:80;
{% endif %}

{% if nginx_domain is defined %}
    server_name {{ nginx_domain }};
{% else %}
    server_name _;
{% endif %}

{% for app in nginx_apps %}
{% if app.main %}
    location / {
        return 301 $scheme://$host/{{ app.location }}/;
    }
{% endif %}
{% endfor %}

{% for app in nginx_apps %}
    location /{{ app.location }}/ {
        root /var/www/{{ nginx_domain | default('app') }};
        index index.html index.htm index.php;

{% if app.php %}
        try_files $uri $uri/ /index.php?$query_string =404;

        location ~ \.php {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/run/php/php-fpm.sock;
        }
{% else %}
        try_files $uri $uri/ =404;
{% endif %}
    }

{% endfor %}
}
